@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@1&display=swap');

.paragraph {
    font-style: italic;
    font-family: 'Space Mono', monospace;
    width:  80%;
    margin: auto;
    font-size: 1.2em;
}

.reading {
    color: #428bca;
}